Repository guardian/grid, pull requests merged in 2021-01, with the labels that each got.

#3048 That’s not my name
  .editorconfig
  common-lib/src/main/scala/com/gu/mediaservice/lib/aws/DynamoDB.scala
  common-lib/src/main/scala/com/gu/mediaservice/model/ImageMetadata.scala
  common-lib/src/test/scala/com/gu/mediaservice/lib/aws/DynamoDBTest.scala
  common-lib/src/test/scala/com/gu/mediaservice/lib/cleanup/MetadataHelper.scala
  kahuna/public/js/components/gr-image-metadata/gr-image-metadata.html
  kahuna/public/js/edits/metadataDiff.js
  kahuna/public/js/edits/metadataDiff.spec.js
  kahuna/public/js/edits/service.js
  metadata-editor/app/controllers/EditsController.scala
Labels: enhancement, metadata

#3069 [BBC] BBC Pluggable ImageProcessors and the introduction of ImageProcessorResources
  admin-tools/dev/app/AdminToolsComponents.scala
  auth/app/auth/AuthConfig.scala
  collections/app/lib/CollectionsConfig.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/bbc/BBCImageProcessorConfig.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/bbc/BBCMetadataProcessor.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/bbc/BBCSupplierProcessors.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/bbc/components/BBCImageProcessorsDependencies.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/bbc/components/BBCMetadataConfig.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/bbc/components/BBCMetadataStore.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/bbc/components/BBCUsageRightsConfig.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/bbc/components/BBCUsageRightsStore.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/cleanup/ImageProcessorResources.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/config/GridConfigResources.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/config/ImageProcessorLoader.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/play/GridComponents.scala
  cropper/app/lib/CropperConfig.scala
  dev/config/photographers.json
  dev/config/usage_rights.json
  dev/script/generate-config/service-config.js
  dev/script/setup.sh
  image-loader/app/lib/ImageLoaderConfig.scala
  image-loader/test/scala/lib/ImageProcessorLoaderTest.scala
  kahuna/app/lib/KahunaConfig.scala
  leases/app/lib/LeasesConfig.scala
  media-api/app/lib/MediaApiConfig.scala
  media-api/test/lib/elasticsearch/ElasticSearchTest.scala
  metadata-editor/app/lib/EditsConfig.scala
  thrall/app/lib/ThrallConfig.scala
  usage/app/lib/UsageConfig.scala
Labels: bbc

#3058 Add pluggable authentication in the grid
  admin-tools/lambda/src/main/scala/com/gu/mediaservice/ImageProjectionLambdaHandler.scala
  admin-tools/lib/src/main/scala/com/gu/mediaservice/GridClient.scala
  auth/app/auth/AuthComponents.scala
  auth/app/auth/AuthController.scala
  build.sbt
  common-lib/src/main/resources/application.conf
  common-lib/src/main/scala/com/gu/mediaservice/lib/BaseStore.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/auth/ApiAccessor.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/auth/Authentication.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/auth/PermissionsHandler.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/auth/provider/ApiKeyAuthenticationProvider.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/auth/provider/AuthenticationProvider.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/auth/provider/AuthenticationProviders.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/auth/provider/AuthenticationStatus.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/cleanup/ImageProcessorResources.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/config/AuthenticationProviderLoader.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/config/CommonConfig.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/config/ImageProcessorLoader.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/config/ProviderLoader.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/guardian/auth/PandaAuthenticationProvider.scala
  common-lib/src/main/scala/com/gu/mediaservice/lib/play/GridComponents.scala
  common-lib/src/test/resources/application.conf
  common-lib/src/test/scala/com/gu/mediaservice/lib/auth/ApiKeyAuthenticationProviderTest.scala
  common-lib/src/test/scala/com/gu/mediaservice/lib/auth/AuthenticationTest.scala
  common-lib/src/test/scala/com/gu/mediaservice/lib/config/ProviderLoaderTest.scala
  common-lib/src/test/scala/com/gu/mediaservice/lib/guardian/auth/PandaAuthenticationProviderTest.scala
  common-lib/src/test/scala/com/gu/mediaservice/model/FileMetadataTest.scala
  cropper/app/controllers/CropperController.scala
  cropper/test/lib/CropsTest.scala
  dev/script/generate-config/service-config.js
  dev/script/setup.sh
  image-loader/app/lib/ImageLoaderConfig.scala
  image-loader/test/scala/lib/ImageProcessorLoaderTest.scala
  image-loader/test/scala/model/ImageUploadTest.scala
  image-loader/test/scala/model/ProjectorTest.scala
  media-api/app/MediaApiComponents.scala
  media-api/app/controllers/MediaApi.scala
  media-api/app/lib/UsageQuota.scala
  media-api/test/lib/elasticsearch/ElasticSearchTest.scala
  media-api/test/scala/lib/ImageExtrasTest.scala
  media-api/test/usagerights/CostCalculatorTest.scala
  thrall/test/lib/ThrallStreamProcessorTest.scala
  thrall/test/lib/kinesis/MessageProcessorTest.scala
Labels: bbc

#3082 Image quarantine
  common-lib/src/main/scala/com/gu/mediaservice/lib/ImageQuarantineOperations.scala
  dev/cloudformation/grid-dev-core.yml
  dev/script/generate-config/service-config.js
  image-loader/app/ImageLoaderComponents.scala
  image-loader/app/controllers/ImageLoaderController.scala
  image-loader/app/lib/ImageLoaderConfig.scala
  image-loader/app/lib/QuarantineStore.scala
  image-loader/app/model/QuarantineUploader.scala
Labels: bbc

#3140 Read XMP and IPTC country code fields before verbal names
  common-lib/src/main/scala/com/gu/mediaservice/lib/metadata/ImageMetadataConverter.scala
Labels: metadata
